/* Ali Sbeih - 7/12/22 - Lines and Dots Project */


/* Position the svg element on the right half of the screen and give it a border */
svg { 
    position:fixed; 
    top:0; 
    bottom:0; 
    left:50%; 
    right:0 ; 
    border: 3px solid crimson;
}
/* Position the controls section on the left half of the screen and give it a border */
#controls { 
    position:fixed; 
    top:0; 
    bottom:0; 
    right:50%; 
    left:0 ; 
    border: 3px solid lime;
}